.cupContainer {
    font-family: arial, sans-serif;

}

.cupInputs input {
    margin-bottom: 3px;
    background-color: rgb(248, 198, 182);
    border: 1px solid rgb(114, 29, 4);
    border-radius: 3px;

}

.cupInputs button {
    cursor: pointer;
    background-color: rgb(250, 127, 90);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: arial, sans-serif;
    text-align: center;
}

.cupInputs button:hover {
    background-color: rgb(250, 92, 43);
}

.uBVContainer {
    background-color: rgb(123, 250, 250);
    padding: 30px;;
}
.uBVHeader{
    color: rgb(0, 0, 0);
    margin: 20px;
    margin-left: 80px;
    font-family: arial, sans-serif;
}
.bicyclePic1 {
    margin: 20px;
    width: 350px;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    height: 370px;
    font-size: large;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: bisque;
}
.bicyclePic1 img {
    
    margin: 20px auto;
    width: 300px;
    border: 5px solid black;
}
.bicyclePic1 button {
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(252, 140, 159);
    border: none;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid black;
}
.bicyclePic1 button:hover {
    background-color: rgb(255, 83, 111);
    border: 3px solid black;
}

.bicyclePic2 {
    margin: 20px;
    width: 350px;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    height: 370px;
    font-size: large;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: bisque;
}
.bicyclePic2 img {
    margin: 20px auto;
    padding: 10px;
    width: 270px;
    border: 5px solid black;
    background-color: white;
}
.bicyclePic2 button {
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(252, 140, 159);
    border: 2px solid black;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.bicyclePic2 button:hover {
    background-color: rgb(255, 83, 111);
    border: 3px solid black;
}

.uURPWInfo {
    scale:150%;
    margin: 120px;
    width: 350px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    height: 370px;
    font-size: large;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(115, 252, 87);
}
.uURPWInfo img {
    margin: 20px auto;
    padding: 10px;
    width: 270px;
    border: 5px solid rgb(0, 0, 0);
    background-color: white;
}

.uURPWInfo button{
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(2, 196, 255);
    border: 2px solid black;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.uURPWInfo button:hover {
    background-color: rgb(4, 143, 185);
}

